body{
    background-color: #e7e7e7;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 #footer ul.quick-links li{
     padding: 3px 0;
     -webkit-transition: .5s all ease;
     -moz-transition: .5s all ease;
     transition: .5s all ease;
}
#footer ul.quick-links li:hover{
     padding: 3px 0;
     margin-left:5px;
     font-weight:700;
}
#footer ul.quick-links li a i{
     margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
#footer h4{
     padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 20px;
}
.portfolio-item {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
.listcar:hover{
    margin-top: -10px;
    margin-left: -10px;
    box-shadow: 10px 10px grey;
    transition:  0.5s;
}
.listcar:{
   
    transition:  0.5s;
}